[Unit]
Description=Weekly removal of old packages from /var/lib/nginx-pacman-cache

[Timer]
OnCalendar=weekly
AccuracySec=1h
Persistent=true

[Install]
WantedBy=timers.target
