[Unit]
Description=libreddit daemon

[Service]
DynamicUser=yes
# Default Values
# Optional Override
EnvironmentFile=-/etc/libreddit.conf
ExecStart=/usr/bin/libreddit -a ${ADDRESS} -p ${PORT}

##############
# Networking #
##############

# PrivateNetwork= service requires network access
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
IPAccounting=yes
# IPAddressAllow= service requires network access
# IPAddressDeny=any

###############
# File system #
###############
#  Note that the effect of these settings may be undone by privileged processes. In order to
#  set up an effective sandboxed environment for a unit it is thus recommended to combine
#  these settings with either CapabilityBoundingSet=~CAP_SYS_ADMIN or
#  SystemCallFilter=~@mount.

ProtectHome=yes
ProtectSystem=strict
# ReadWritePaths=-/example/path
PrivateTmp=yes

###################
# User separation #
###################

PrivateUsers=yes
DynamicUser=yes

###########
# Devices #
###########

PrivateDevices=yes
# DeviceAllow=/dev/exampledevice

##########
# Kernel #
##########

ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes

########
# Misc #
########

CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=yes
ProtectHostname=yes
ProtectClock=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes

################
# System calls #
################

SystemCallFilter=@system-service
SystemCallFilter=~@resources @privileged
SystemCallArchitectures=native

[Install]
WantedBy=default.target
